.navigator

	&__menu
		padding: 21px 0
		margin-bottom: 20px
		&-title
			margin-bottom: 0

.filter
	border: 4px solid #72c9d4
	background-color: #fdfdfd
	padding: 29px 0

	&__underline
		border-bottom: 1px solid #72c9d4
		padding: 27px 19px 17px

	&__top
		display: flex
		justify-content: space-between
		align-items: center

		margin-bottom: 22px

	&__title
		+font(14px, 22px, 700)

	&__opener
		width: 30px
		height: 30px
		border-radius: 15px
		background-color: $headerColor
		display: flex
		justify-content: center
		align-items: center
		border: 1px solid #cbcbcb

		cursor: pointer
	&__check
		position: absolute
		width: 1px
		height: 1px
		overflow: hidden
		clip: rect(0 0 0 0)
		padding-left: 20px
		margin-bottom: 15px
		&:checked
			&+ .filter__style
				border: 2px solid #53b5de
				&::before
					content: ''
					width: 8px
					height: 8px
					background-color: #53b5de

					position: absolute
					z-index: 2
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)

	&__label
		color: #666666
		padding-left: 20px
		display: block
		margin-bottom: 15px
		position: relative
		cursor: pointer

	&__style
		position: absolute
		width: 16px
		height: 16px
		border: 2px solid #dadada
		top: -2px
		left: 20px
		margin-left: -20px

	&__caption
		font-family: 'Roboto'
		margin-bottom: 45px
		text-align: center
		color: $catalogColor

	&__open
		color: $catalogColor
		& .filter__opener
			border: 1px solid #72c9d4
			background: url(../img/icons/li_arrow.png) no-repeat
			background-position: 9px 9px
		& .filter__img
			opacity: 0

		& .filter__top
			margin-bottom: 0

	&__price

		padding: 0 19px 29px

		&-title
			margin-bottom: 19px

		&-inputs
			display: flex
			justify-content: space-between
			align-items: center
			padding-right: 35px

		&-from, &-to
			width: 80px
			display: flex
			align-items: center
			height: 23px
			& input
				display: block
				width: 60px
				margin-left: 7px
				color: #999999

			& label
				color: #999999

	&__compare
		padding: 27px 19px 30px

		&-title
			margin-bottom: 21px

		&-item
			padding-right: 16px
			display: flex
			align-items: center
			justify-content: space-between
			margin-bottom: 12px

		&-link
			color: $cardColor
			display: block
			text-decoration: underline

		&-close
			display: inline-block
			// & svg
			width: 10px
			height: 10px

			&:hover
				& svg use
					fill: #53b5de

		&-bottom
			padding-right: 0px
			margin: 20px 0 0

		&-button
			box-sizing: border-box
			height: 33px
			padding: 8px 20px 6px 43px
			background-color: $cardColor
			border-radius: 15px
			text-transform: uppercase
			color: $headerColor
			position: relative

			&::before
				content: url(../img/icons/compare.png)
				position: absolute
				top: 6px
				left: 12px
				z-index: 1
				height: 35px

		&-trash
			width: 40px
			height: 40px
			background-color: #e6e6e6
			border-radius: 20px
			display: flex
			justify-content: center
			align-items: center

	&__maker
		padding: 27px 19px 17px

	&__angle
		border-bottom: none

	&__buttons
		display: flex
		justify-content: space-between
		align-items: center
		padding: 19px 19px 0

	&__button
		width: 96px
		height: 35px
		text-align: center
		border-radius: 0
		border: none
		color: #666666
		background-color: #e6e6e6
		transition: all ease 0.5s

		&:hover
			color: #ffffff
			background-color: #fd8424

.ui-state-default,
.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
	border: none
	background: url(../img/icons/slider-point.svg) no-repeat
	width: 25px
	height: 25px
	top: -10px

.ui-slider-horizontal
	height: 4px
	margin-bottom: 22px

.ui-widget.ui-widget-content
	border: none
	background-color: #eaeaea

.ui-widget-header
	background-color: #ffcda5

.basic

	&__path

		height: 79px

		&-link
			line-height: 79px
			text-decoration: underline
			color: $cardColor
			margin-right: 30px
			position: relative

			&::after
				content: url(../img/icons/li_arrow.png)
				position: absolute
				top: -29px
				right: -23px
				z-index: 1
				height: 35px

			&.active-link
				text-decoration: none
				color: #999999

				&::after
					content: ''

	&__catalog

		&-paginator
			height: 49px
			border-top: 1px solid #ededed
			border-bottom: 1px solid #ededed
			margin-bottom: 23px

		&-prev svg path
			stroke: #e7e7e7
		&-pages
			width: 270px
			display: flex
			justify-content: space-between
			align-items: center
			padding: 0 14px
			height: 49px

		&-page
			color: #333333
			+font(18px, 33px, 700)
			&.active
				color: $headerColor

		&-item
			width: 33px
			height: 33px
			background-position: center center
			border-radius: 16px
			align-self: center
			text-align: center
			&.active
				background-color: #fd8424

			// padding-top: 5px

		&-next

		&-main

.sorting
	height: 48px
	background-color: #f3f3f3
	display: flex
	justify-content: space-between
	align-items: center
	padding: 0 17px 0 23px
	margin-bottom: 15px

	&__left

	&__label
		+font(14px, 18px, 700)

	&__select
		margin-left: 18px
		width: 166px
		height: 29px
		padding: 0 16px 0 16px
		color: #0097ac
		border: none

	&__right

	&__img

		&-grid

		&-list
			margin-left: 8px

.paginator
	display: flex
	justify-content: space-between
	padding: 0 16px

	&__left
		display: flex
		justify-content: space-between
		align-items: center

	&__count
		&-title
			margin-right: 15px
			+font(14px, 18px, 700)

		&-select
			width: 56px
			height: 29px
			border: 2px solid #f3f3f3
			+font(16px, 29px, 700)
			padding-left: 9px
			color: #999999

	&__right
		display: flex
		justify-content: space-between
		align-items: center
