.navigator

	&__menu
		padding: 21px 0
		margin-bottom: 20px
		&-title
			margin-bottom: 0

.filter
	border: 4px solid #72c9d4
	background-color: #f9f9f9
	color: $catalogColor
	padding: 29px 0

	&__underline
		border-bottom: 1px solid #72c9d4

	&__caption
		font-family: 'Roboto'
		margin-bottom: 45px
		text-align: center

	&__price

		padding: 0 19px 29px

		&-title

	&__compare
		padding: 27px 19px 30px

		&-title
			margin-bottom: 21px
			color: #333333

		&-item
			padding-right: 16px
			display: flex
			align-items: center
			justify-content: space-between
			margin-bottom: 12px

		&-link
			color: $cardColor
			display: block
			text-decoration: underline

		&-close
			display: inline-block
			// & svg
			width: 10px
			height: 10px

			&:hover
				& svg use
					fill: #53b5de

		&-bottom
			padding-right: 0px
			margin: 20px 0 0

		&-button
			box-sizing: border-box
			height: 33px
			padding: 8px 20px 6px 43px
			background-color: $cardColor
			border-radius: 15px
			text-transform: uppercase
			color: $headerColor
			position: relative

			&::before
				content: url(../img/icons/compare.png)
				position: absolute
				top: 6px
				left: 12px
				z-index: 1
				height: 35px

		&-trash
			width: 40px
			height: 40px
			background-color: #e6e6e6
			border-radius: 20px
			display: flex
			justify-content: center
			align-items: center
