@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

li {
  text-decoration: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  cursor: pointer;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@font-face {
  font-family: "UniSans";
  font-display: swap;
  src: url("../fonts/uni_sans_heavy-webfont.woff") format("woff"), url("../fonts/uni_sans_heavy-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  font-display: swap;
  src: url("../fonts/play-bold-webfont.woff") format("woff"), url("../fonts/play-bold-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #222222;
}

h1 {
  font-size: 48px;
  line-height: 85px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h3 {
  font-family: 'Uni Sans Heavy Caps', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h4 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  font-family: 'Uni Sans Heavy Caps', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h5 {
  font-size: 23px;
  line-height: 24px;
  font-weight: 700;
  font-family: 'Uni Sans Heavy Caps', sans-serif;
  text-transform: uppercase;
}

h6 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
}

a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.header {
  background: url("../img/bg_header.jpg") top no-repeat;
}

.top-header__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 190px 1fr;
      grid-template-columns: 1fr 190px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.top-header__column-logo {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
  padding-top: 25px;
}

.menu__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
}

.menu__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  color: #ffffff;
  font-family: Play;
  font-size: 14px;
  line-height: 27px;
  font-weight: 700;
  border-radius: 20px;
  text-decoration: underline;
}

.menu__link:hover {
  background-color: #068292;
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-header__column {
  padding: 0 30px;
  border-right: 1px solid #ffffff;
}

.contacts-header__column:last-child {
  border-right: none;
}

.contacts-header__item-icon {
  background: url("../img/icons/header/phone.png") center left no-repeat;
  padding-left: 40px;
}

.contacts-header__label {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 5px;
}

.contacts-header__phone {
  color: #ffffff;
}

.bottom-header__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 190px 1fr;
      grid-template-columns: 1fr 190px 1fr;
  height: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.bottom-header__column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header a {
  padding-left: 36px;
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
}

.actions-header a span {
  border-bottom: 1px dashed;
}

.actions-header__login {
  background: url("../img/icons/header/login.png") left center no-repeat;
  color: #999999;
}

.actions-header__reg {
  background: url("../img/icons/header/user.png") left center no-repeat;
  color: #1ab9ce;
}

.actions-header__email {
  background: url("../img/icons/header/mail.png") left center no-repeat;
  color: #1ab9ce;
}

.schedule {
  padding-left: 36px;
  background: url("../img/icons/header/schedule.png") 0 center no-repeat;
  color: #999999;
}

.info-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.info-header__column {
  margin-right: 38px;
}

.info-header__column:last-child {
  margin: 0;
}

.info-header__callback {
  background: url("../img/icons/header/callback.png") left center no-repeat;
  color: #1ab9ce;
  padding-left: 36px;
  margin-left: 18px;
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
}

.info-header__callback span {
  border-bottom: 1px dashed;
}

.info-header__schedule {
  padding: 0;
  font-size: 12px;
}

.info-header__schedule p {
  padding-bottom: 8px;
}

.info-header__schedule p:last-child {
  padding: 0;
}

.info-header__schedule span {
  font-weight: 700;
}

.info-header__cart {
  background: url("../img/icons/header/cart.png") left center no-repeat;
  color: #1ab9ce;
  padding: 0;
  height: 43px;
  min-width: 43px;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}

.info-header__cart span {
  position: absolute;
  left: 35px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  background-color: #f68038;
  z-index: 3;
  padding: 6px 11px;
  border-radius: 20px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 31px;
          column-gap: 31px;
  margin-bottom: 49px;
}

.navigator {
  width: 261px;
}

.navigator__menu {
  padding-top: 21px;
  position: relative;
  background-color: #14c0d4;
  color: #fff;
  margin-bottom: 44px;
}

.navigator__menu-title {
  padding-left: 21px;
  margin-bottom: 20px;
}

.navigator__menu-burger {
  position: absolute;
  top: 31px;
  right: 21px;
  z-index: 1;
  cursor: pointer;
}

.navigator__menu-item {
  font-size: 12px;
  line-height: 40px;
  font-weight: 300;
  border-bottom: 1px solid #f2f2f2;
  padding-left: 21px;
  position: relative;
  cursor: pointer;
}

.navigator__menu-item:hover {
  background-color: #098494;
}

.navigator__menu-item.share::after {
  content: url(../img/icons/btn_arrow.webp);
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 10;
}

.navigator__menu-item.share::after:hover {
  right: 5px;
}

.navigator__news {
  margin-bottom: 76px;
}

.navigator__news-caption {
  color: #1ab9ce;
  margin-bottom: 36px;
}

.navigator__reviews-caption {
  color: #dadada;
  margin-bottom: 36px;
}

.news__card {
  margin-bottom: 47px;
}

.news__card-title {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.news__card-title.top {
  color: #fd8322;
}

.news__card-event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.news__card-date {
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  font-family: 'Roboto', serif;
  color: #d8d8d8;
}

.news__card-date span {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

.news__card-text {
  color: #666666;
}

.reviews__card {
  margin-bottom: 18px;
}

.reviews__card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6px;
}

.reviews__card-user {
  text-transform: uppercase;
  font-weight: 900;
}

.reviews__card-text {
  padding: 15px 8px 19px 26px;
  position: relative;
}

.reviews__card-text::before {
  content: url(../img/icons/marks.png);
  position: absolute;
  top: 18px;
  left: 4px;
  z-index: 1;
  height: 35px;
}

.reviews__card.highlights {
  color: #1ab9ce;
}

.reviews__card.highlights .reviews__card-text {
  background-color: #1ab9ce;
  color: #fff;
}

.basic {
  width: 919px;
}

.basic__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 22px;
}

.basic__search-filter {
  display: block;
  width: 116px;
  height: 39px;
  line-height: 39px;
  color: #666666;
  background-color: #f3f3f3;
  padding-left: 44px;
  position: relative;
  -webkit-text-decoration: underline dashed;
          text-decoration: underline dashed;
  cursor: pointer;
}

.basic__search-filter::before {
  content: url(../img/icons/search_page.png);
  position: absolute;
  top: 5px;
  left: 14px;
}

.basic__search-filter::after {
  content: url(../img/icons/search_page_arrows.png);
  position: absolute;
  top: 2px;
  right: 13px;
}

.basic__search-input {
  padding: 0 12px;
  display: block;
  width: calc(100% - 202px);
  border: 2px solid #f2f2f2;
}

.basic__search-button {
  width: 86px;
  height: 39px;
  border: 2px solid #f2f2f2;
  background-color: #f68038;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  cursor: pointer;
}

.basic__header {
  background: url("../img/mainslider/01.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
  height: 383px;
  padding: 21px 36px;
  width: 100%;
  color: #fff;
  margin-bottom: 90px;
}

.basic__header-text {
  top: 159px;
  left: 38px;
  z-index: 10;
  margin-bottom: 16px;
}

.basic__header-price {
  width: 190px;
  font-size: 36px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  display: block;
  margin: 0 auto 24px;
  padding-right: 30px;
}

.basic__header-price::after {
  content: url(../img/icons/ruble.png);
  position: absolute;
  top: 0px;
  left: 170px;
  z-index: 1;
}

.basic__header-button {
  width: 145px;
  height: 33px;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  border: 3px solid #fff;
  padding: 6px 40px 9px 22px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: 0 auto;
}

.basic__header-button::after {
  content: url(../img/icons/btn_arrow.png);
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 1;
}

.basic__header-icons {
  width: 465px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  bottom: -28px;
}

.basic__header-icon {
  width: 55px;
  height: 55px;
}

.basic__catalog-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.basic__catalog-caption {
  color: #dadada;
}

.basic__catalog-paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basic__catalog-prev {
  margin-right: 22px;
}

.basic__catalog-next {
  margin-left: 22px;
}

.basic__catalog-pages {
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
  color: #999999;
}

.basic__catalog-pages span {
  font-size: 30px;
  line-height: 23px;
  font-weight: 700;
  color: #000;
}

.btn-arrow:hover svg path {
  stroke: #14c0d4;
}

.catalog__items {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (263px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 263px);
}

.catalog__item {
  width: 263px;
  height: 383px;
  border: 1px solid #f5f5f5;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.catalog__item-simple {
  padding: 42px 11px 26px 23px;
  width: 100%;
  height: 100%;
}

.catalog__item-img {
  width: 187px;
  height: 178px;
  margin-bottom: 16px;
  position: relative;
  z-index: -2;
}

.catalog__item:hover .catalog__item-simple {
  display: none;
}

.catalog__item:hover .catalog__item-hover {
  display: block;
}

.catalog__item-title {
  color: #36949f;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  margin-bottom: 8px;
  display: block;
}

.catalog__item-category {
  color: #36949f;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  margin-bottom: 24px;
}

.catalog__item-oldprice {
  color: #999999;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  text-align: right;
  margin-right: 20px;
  text-decoration: line-through;
  margin-bottom: 12px;
  position: relative;
}

.catalog__item-oldprice::after {
  content: url(../img/icons/ruble-gray.png);
  position: absolute;
  top: 0px;
  right: -10px;
  z-index: 1;
}

.catalog__item-price {
  color: #333333;
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
  text-align: right;
  margin-right: 30px;
  position: relative;
}

.catalog__item-price::after {
  content: url(../img/icons/ruble-bold.png);
  position: absolute;
  top: 0px;
  right: -20px;
  z-index: 1;
}

.catalog__item-trash {
  position: absolute;
  bottom: 20px;
  left: 25px;
}

.catalog__item-hover {
  padding: 21px;
  display: none;
  border: 5px solid #f68038;
  background-color: rgba(0, 0, 0, 0.84);
  width: 100%;
  height: 100%;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.catalog__item-himg {
  position: absolute;
  top: 42px;
  left: 23px;
  width: 178px;
  height: 187px;
  z-index: -1;
}

.catalog__item-htitle {
  color: #fff;
  margin-bottom: 6px;
}

.catalog__item-hcategory {
  color: #c2c2c2;
  margin-bottom: 29px;
}

.catalog__item-htext {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.catalog__item-htype {
  margin-bottom: 6px;
}

.catalog__item-hdesc {
  color: #fd8322;
  margin-bottom: 10px;
  font-weight: 700;
}

.catalog__item-htrash {
  position: relative;
  width: 52px;
  height: 52px;
  left: 70px;
  margin: 12px 0 12px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.catalog__item-hhave {
  position: absolute;
  left: 17px;
  bottom: 26px;
  color: #f68038;
  padding: 7px 11px;
  border-radius: 15px;
  background-color: #fff;
}

.catalog__item-holdprice {
  color: #999999;
  margin-right: 5px;
}

.catalog__item-hprice {
  color: #fff;
  margin-right: 15px;
}

.catalog__item-hprice::after {
  content: url(../img/icons/ruble-white.png);
}

.brands {
  height: 112px;
  border-top: 3px dashed #dadada;
  border-bottom: 3px dashed #dadada;
  margin-bottom: 32px;
}

.brands__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands__link {
  display: block;
}

.about {
  background-color: #009fb4;
  color: #fff;
  padding: 45px 32px;
  margin-bottom: 38px;
}

.about__caption {
  color: #22b7ca;
  margin-bottom: 24px;
  font-weight: 900;
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-width: 50%;
          column-width: 50%;
  -webkit-column-gap: 61px;
          column-gap: 61px;
}

.about__left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about__left-top {
  margin-bottom: 31px;
}

.about__right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}

.about__title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.about__tezis {
  text-indent: 35px;
  margin-bottom: 6px;
}

.about__tezis-link {
  position: relative;
}

.about__tezis-link::before {
  content: url(../img/icons/li_arrow.png);
  position: absolute;
  top: 2px;
  left: -25px;
}

.about__tezis-bike {
  padding-right: 120px;
}

.about__bike {
  position: absolute;
  width: 380px;
  position: absolute;
  right: -105px;
  bottom: -238px;
}

.info {
  height: 106px;
  border-top: 3px dashed #dadada;
  border-bottom: 3px dashed #dadada;
  width: auto;
  margin-bottom: 38px;
}

.info__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-column-gap: 34px;
          column-gap: 34px;
  padding: 25px 0 8px 16px;
  margin-bottom: 8px;
  border-bottom: 1px solid #b0b0b0;
  width: 644px;
}

.info__title {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
}

.info__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 34px;
          column-gap: 34px;
}

.info__link {
  color: #1ab9ce;
}

.info__link:hover {
  color: #333333;
}

.info__help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 34px;
          column-gap: 34px;
  padding-left: 16px;
}

.footer__top {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 163px 1fr 284px 284px;
      grid-template-columns: 163px 1fr 284px 284px;
  padding-bottom: 25px;
  border-bottom: 1px solid #dadada;
}

.footer__top-contacts {
  position: relative;
}

.footer__top-contacts::before {
  content: url(../img/icons/phone.svg);
  position: absolute;
  top: 133px;
  left: 12px;
}

.footer__top-logo {
  margin-bottom: 28px;
}

.footer__top-phone {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-align: right;
  margin-bottom: 8px;
  padding-right: 7px;
}

.footer__top-delivery {
  padding: 0 46px;
}

.footer__social {
  text-align: right;
}

.footer__payments {
  position: absolute;
  bottom: 25px;
}

.footer__bottom {
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom-net {
  padding: 0 7px;
}

.delivery__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}

.delivery__top {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigator__menu {
  padding: 21px 0;
  margin-bottom: 20px;
}

.navigator__menu-title {
  margin-bottom: 0;
}

.filter {
  border: 4px solid #72c9d4;
  background-color: #f9f9f9;
  padding: 29px 0;
}

.filter__underline {
  border-bottom: 1px solid #72c9d4;
  padding: 27px 19px 17px;
}

.filter__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.filter__title {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}

.filter__opener {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #cbcbcb;
  cursor: pointer;
}

.filter__check {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 20px;
  margin-bottom: 15px;
}

.filter__check:checked + .filter__style {
  border: 2px solid #53b5de;
}

.filter__check:checked + .filter__style::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #53b5de;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.filter__label {
  color: #666666;
  padding-left: 20px;
  display: block;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}

.filter__style {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid #dadada;
  top: -2px;
  left: 20px;
  margin-left: -20px;
}

.filter__caption {
  font-family: 'Roboto';
  margin-bottom: 45px;
  text-align: center;
}

.filter__open {
  color: #36949f;
}

.filter__open .filter__opener {
  border: 1px solid #72c9d4;
  background: url(../img/icons/li_arrow.png) no-repeat;
  background-position: 9px 9px;
}

.filter__open .filter__img {
  opacity: 0;
}

.filter__open .filter__top {
  margin-bottom: 0;
}

.filter__price {
  padding: 0 19px 29px;
}

.filter__compare {
  padding: 27px 19px 30px;
}

.filter__compare-title {
  margin-bottom: 21px;
}

.filter__compare-item {
  padding-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.filter__compare-link {
  color: #1ab9ce;
  display: block;
  text-decoration: underline;
}

.filter__compare-close {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.filter__compare-close:hover svg use {
  fill: #53b5de;
}

.filter__compare-bottom {
  padding-right: 0px;
  margin: 20px 0 0;
}

.filter__compare-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 33px;
  padding: 8px 20px 6px 43px;
  background-color: #1ab9ce;
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

.filter__compare-button::before {
  content: url(../img/icons/compare.png);
  position: absolute;
  top: 6px;
  left: 12px;
  z-index: 1;
  height: 35px;
}

.filter__compare-trash {
  width: 40px;
  height: 40px;
  background-color: #e6e6e6;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__maker {
  padding: 27px 19px 17px;
}

.filter__angle {
  border-bottom: none;
}

.filter__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 19px 0;
}

.filter__button {
  width: 96px;
  height: 35px;
  text-align: center;
  border-radius: 0;
  border: none;
  color: #666666;
  background-color: #e6e6e6;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.filter__button:hover {
  color: #ffffff;
  background-color: #fd8424;
}

.basic__path {
  height: 79px;
}

.basic__path-link {
  line-height: 79px;
  text-decoration: underline;
  color: #1ab9ce;
  margin-right: 30px;
  position: relative;
}

.basic__path-link::after {
  content: url(../img/icons/li_arrow.png);
  position: absolute;
  top: -29px;
  right: -23px;
  z-index: 1;
  height: 35px;
}

.basic__path-link.active-link {
  text-decoration: none;
  color: #999999;
}

.basic__path-link.active-link::after {
  content: '';
}

.sorting {
  height: 48px;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 17px 0 23px;
  margin-bottom: 15px;
}

.sorting__select {
  margin-left: 8px;
  width: 166px;
  height: 29px;
  padding: 0 16px 0 16px;
}

.sorting__img-list {
  margin-left: 8px;
}
/*# sourceMappingURL=style.css.map */