@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

li {
  text-decoration: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  cursor: pointer;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@font-face {
  font-family: "UniSans";
  font-display: swap;
  src: url("../fonts/uni_sans_heavy-webfont.woff") format("woff"), url("../fonts/uni_sans_heavy-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  font-display: swap;
  src: url("../fonts/play-bold-webfont.woff") format("woff"), url("../fonts/play-bold-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #222222;
}

h1 {
  font-size: 48px;
  line-height: 85px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h3 {
  font-family: 'Uni Sans Heavy Caps', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h4 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
}

a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.header {
  background: url("../img/bg_header.jpg") top no-repeat;
}

.top-header__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 190px 1fr;
      grid-template-columns: 1fr 190px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.top-header__column-logo {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
  padding-top: 25px;
}

.menu__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
}

.menu__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  color: #ffffff;
  font-family: Play;
  font-size: 14px;
  line-height: 27px;
  font-weight: 700;
  border-radius: 20px;
  text-decoration: underline;
}

.menu__link:hover {
  background-color: #068292;
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-header__column {
  padding: 0 30px;
  border-right: 1px solid #ffffff;
}

.contacts-header__column:last-child {
  border-right: none;
}

.contacts-header__item-icon {
  background: url("../img/icons/header/phone.png") center left no-repeat;
  padding-left: 40px;
}

.contacts-header__label {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 5px;
}

.contacts-header__phone {
  color: #ffffff;
}

.bottom-header__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 190px 1fr;
      grid-template-columns: 1fr 190px 1fr;
  height: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.bottom-header__column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header a {
  padding-left: 36px;
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
}

.actions-header a span {
  border-bottom: 1px dashed;
}

.actions-header__login {
  background: url("../img/icons/header/login.png") left center no-repeat;
  color: #999999;
}

.actions-header__reg {
  background: url("../img/icons/header/user.png") left center no-repeat;
  color: #1ab9ce;
}

.actions-header__email {
  background: url("../img/icons/header/mail.png") left center no-repeat;
  color: #1ab9ce;
}

.schedule {
  padding-left: 36px;
  background: url("../img/icons/header/schedule.png") 0 center no-repeat;
  color: #999999;
}

.info-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.info-header__column {
  margin-right: 38px;
}

.info-header__column:last-child {
  margin: 0;
}

.info-header__callback {
  background: url("../img/icons/header/callback.png") left center no-repeat;
  color: #1ab9ce;
  padding-left: 36px;
  margin-left: 18px;
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
}

.info-header__callback span {
  border-bottom: 1px dashed;
}

.info-header__schedule {
  padding: 0;
  font-size: 12px;
}

.info-header__schedule p {
  padding-bottom: 8px;
}

.info-header__schedule p:last-child {
  padding: 0;
}

.info-header__schedule span {
  font-weight: 700;
}

.info-header__cart {
  background: url("../img/icons/header/cart.png") left center no-repeat;
  color: #1ab9ce;
  padding: 0;
  height: 43px;
  min-width: 43px;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}

.info-header__cart span {
  position: absolute;
  left: 35px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  background-color: #f68038;
  z-index: 3;
  padding: 6px 11px;
  border-radius: 20px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 31px;
          column-gap: 31px;
}

.navigator {
  width: 261px;
}

.navigator__menu {
  padding-top: 21px;
  position: relative;
  background-color: #14c0d4;
  color: #fff;
  margin-bottom: 44px;
}

.navigator__menu-title {
  padding-left: 21px;
  margin-bottom: 20px;
}

.navigator__menu-burger {
  position: absolute;
  top: 31px;
  right: 21px;
  z-index: 1;
  cursor: pointer;
}

.navigator__menu-item {
  font-size: 12px;
  line-height: 40px;
  font-weight: 300;
  border-bottom: 1px solid #f2f2f2;
  padding-left: 21px;
  position: relative;
  cursor: pointer;
}

.navigator__menu-item:hover {
  background-color: #098494;
}

.navigator__menu-item.share::after {
  content: url(../img/icons/btn_arrow.webp);
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1;
}

.navigator__news {
  margin-bottom: 76px;
}

.navigator__news-caption {
  color: #1ab9ce;
  margin-bottom: 36px;
}

.navigator__reviews-caption {
  color: #dadada;
  margin-bottom: 36px;
}

.news__card {
  margin-bottom: 47px;
}

.news__card-title {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.news__card-title.top {
  color: #fd8322;
}

.news__card-event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.news__card-date {
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  font-family: 'Roboto', serif;
  color: #d8d8d8;
}

.news__card-date span {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

.news__card-text {
  color: #666666;
}

.reviews__card {
  margin-bottom: 18px;
}

.reviews__card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6px;
}

.reviews__card-user {
  text-transform: uppercase;
  font-weight: 900;
}

.reviews__card-text {
  padding: 15px 8px 19px 26px;
  position: relative;
}

.reviews__card-text::before {
  content: url(../img/icons/marks.png);
  position: absolute;
  top: 18px;
  left: 4px;
  z-index: 1;
  height: 35px;
}

.reviews__card.highlights {
  color: #1ab9ce;
}

.reviews__card.highlights .reviews__card-text {
  background-color: #1ab9ce;
  color: #fff;
}

.basic {
  width: 919px;
}

.basic__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 22px;
}

.basic__search-filter {
  display: block;
  width: 116px;
  height: 39px;
  line-height: 39px;
  color: #666666;
  background-color: #f3f3f3;
  padding-left: 44px;
  position: relative;
  -webkit-text-decoration: underline dashed;
          text-decoration: underline dashed;
}

.basic__search-filter::before {
  content: url(../img/icons/search_page.png);
  position: absolute;
  top: 5px;
  left: 14px;
}

.basic__search-filter::after {
  content: url(../img/icons/search_page_arrows.png);
  position: absolute;
  top: 2px;
  right: 13px;
}

.basic__search-input {
  display: block;
  width: calc(100% - 202px);
  border: 2px solid #f2f2f2;
}

.basic__search-button {
  width: 86px;
  height: 39px;
  border: 2px solid #f2f2f2;
  background-color: #f68038;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

.basic__header {
  background: url("../img/mainslider/01.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
  height: 383px;
  padding: 21px 36px;
  width: 100%;
  color: #fff;
  margin-bottom: 90px;
}

.basic__header-text {
  top: 159px;
  left: 38px;
  z-index: 10;
  margin-bottom: 16px;
}

.basic__header-price {
  width: 190px;
  font-size: 36px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  display: block;
  margin: 0 auto 24px;
  padding-right: 30px;
}

.basic__header-price::after {
  content: url(../img/icons/ruble.png);
  position: absolute;
  top: 0px;
  left: 170px;
  z-index: 1;
}

.basic__header-button {
  width: 145px;
  height: 33px;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  border: 3px solid #fff;
  padding: 6px 40px 9px 22px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: 0 auto;
}

.basic__header-button::after {
  content: url(../img/icons/btn_arrow.png);
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 1;
}

.basic__header-icons {
  width: 465px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  bottom: -28px;
}

.basic__header-icon {
  width: 55px;
  height: 55px;
}
/*# sourceMappingURL=style.css.map */